


    <%- include("../partials/header") %>



    <div class="container mt-4">

        <h4 class="reservation-list">Your Reservation List: </h4>     

        <% for(let reservation of reservations) { %>

            <div class="card">
                    <div class="card-header text-white bg-dark" >
                      Location: <span class="location"><%= reservation.location %></span> <span class="time"> Updated at: <%= reservation.updatedAt.toLocaleString() %> </span>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Customer Name : <%= reservation.user.fullName %> </h5>
                      <p class="card-title">the number of customers : <%= reservation.numberOfCustomer %></p>
                      <p class="card-text">Reserved Time: <%= reservation.time %></p>
                      <a href="/reservations/<%= reservation._id %>" class="btn btn-primary">Details</a>
                    
                      <a class="btn btn-success" href="/reservations/<%= reservation._id %>/edit">Edit</a>
                    
                      <form class="form-inline" action="/reservations/delete" method="post">
                      <input type="hidden" value="<%= reservation._id %>" name="id">
                      <button class="btn btn-danger" type="submit">Delete</button>
                   
                      </form>

                    </div>
                  </div>

                  &nbsp;&nbsp;
    
        <% }%>

        
    </div>



    <%- include("../partials/footer") %>
